$white: #ffffff;
$white100: #F6F6F6;
$green: #25FF8F;
$purple: #6457B1;
$black: #000000;
$gray: #6D6D6D;
$gray100: #676767;

// 900 and below -> single columnsasdfasdfasdfasdfsjkj;kajs;dfkjakls;jfka;sdfjasdfadsfad
// green button white-space: nowrap;